<div class="contributors-table">
    <table>
        <thead>
           <tr>
                <th>Semester</th>
                <th>Contributors</th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fall 2023</td>
                <td>Cameron Johnson, Starrie Schulz</td>
            </tr>
            <tr>
                <td>Spring 2023</td>
                <td>Connor Groizard-Boyd, Trey Lennox-Kowalewski, Margaret Smith
                    </td>
            </tr>
        </tbody>
    </table>
</div>
