<div class = "logs-container">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Voltage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cap of captureService.captures">
                <td>{{cap.date}}</td>
                <td>{{cap.time}}</td>
                <td>{{cap.voltage}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table id="avg">
        <thead>
            <tr>
                <th>Average</th>
                <th>Max</th>
                <th>Min</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>
